{{ header }}
<div class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
        {% endfor %}
    </ul>
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> </div>
    <div class="row"> {{column_left}}
        {% if column_left and column_right %}
        {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
        {% set class = 'col-sm-9' %}
        {% else %}
        {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}
            <h1>{{ heading_title }}</h1>
            <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
                <fieldset>
                    <div>
                        <img src="catalog/view/theme/default/image/34637_1_1097.jpg" width="100" height="100" align="left"/>
                    <h2>Стаття</h2>
                    <h3>Заголовок</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aliquid asperiores consectetur deleniti distinctio, doloribus earum et, illum ipsam magni necessitatibus officia, quibusdam quod recusandae repellendus sit voluptate voluptatem.</p>
                       <p>14.04.2022 Просмотров Коментариев</p>
                    </div>
                    <hr>
                    <div>
                        <img src="catalog/view/theme/default/image/chto-luchshe-koshka-ili-sobaka.jpg" width="100" height="100" align="left">
                    <h2>Стаття</h2>
                    <h3>Заголовок</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aliquid asperiores consectetur deleniti distinctio, doloribus earum et, illum ipsam magni necessitatibus officia, quibusdam quod recusandae repellendus sit voluptate voluptatem.</p>
                        <p>14.04.2022 Просмотров Коментариев</p>
                        </div>
                    <hr>
                    <div>
                        <img src="catalog/view/theme/default/image/redcat.jpg" width="100" height="100" align="left">
                    <h2>Стаття</h2>
                    <h3>Заголовок</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aliquid asperiores consectetur deleniti distinctio, doloribus earum et, illum ipsam magni necessitatibus officia, quibusdam quod recusandae repellendus sit voluptate voluptatem.</p>
                        <p>14.04.2022 Просмотров Коментариев</p>
                        </div>
                </fieldset>
            {{ content_bottom }}</div>
        {{ column_right }}</div>
</div>
{{ footer }}
